$body-bg: #f8f8f8;
$body-color: #6c757d;
$primary-color: #22ce55;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:export {
  primarycolor: $primary-color;
}